.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
}

.bubble {
  position: absolute;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50px;
  border: 2px solid black;
  /* transform-origin: center; */
  cursor: move;
}
button {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
}

span {
  width: 20px;
  color: white;
}
.pickColor {
  /* float: left; */
  position: absolute;
  top: 50px;
  left: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  z-index: 88888;
}
.redBubble {
  height: 100%;
  /* width: 100%; */
  background-color: red;
}
.blueBubble {
  height: 100%;
  /* width: 100%; */
  background: blue;
}

.winner {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
